<section class="container-fluid">
  <div class="row">
    <div class="col-10 col-sm-9 col-md-8 col-lg-7 col-xl-6 mx-auto shadow rounded p-3">
      <div class="section-title">
      <h2>Configuración de usuario<% resource_name.to_s.humanize %></h2>
    </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <% f.label :password, class: "form-label" %> <i>Contraseña (Omitir si no deseas cambiarla)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
        <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> caracteres mínimos.</em>
        <% end %>
      </div>

      <div class="field">
        <% f.label :password_confirmation, class: "form-label" %><i>Contraseña actual: </i><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "form-label" %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control"  %>
      </div>

      <div class="actions">
        <%= f.submit "Actualizar", class: "btn btn-primary my-2" %>
      </div>
      <% end %>



      <h3>Eliminar mi cuenta</h3>
      <h5>¿Te caímos mal?</h5>
      <p>Siempre puedes eliminar tu cuenta con tan solo un par de clicks.<%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-danger" %></p>

      <%= link_to "Regresar", :back %>

    </div>
  </div>
</section>
